<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DocContMapper">

    <resultMap id="BaseResultMap" type="com.alcor.tobacco.domain.DocCont">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="docGuid" column="doc_guid" jdbcType="INTEGER"/>
            <result property="docClass" column="doc_class" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,doc_guid,doc_class,
        content
    </sql>
</mapper>
